/*reset styles*/
*,img{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/*variables*/
:root{
    --color-letra:#04b9f4;
}
/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
.btn{
    border-radius:20px;
    border-style: none;
    font-size:22px;
    color:var(--color-letra);
    font-weight: bold;
}
.btn:hover{
    cursor:pointer;
}
.transitionTiming{
    transition:transform 0.5s cubic-bezier(0,.53,0,1.02);
}
.transitionInit{
    transform:translateX(10000px);
}
.transitionReverseInit{
    transform:translateX(-10000px);
}
.btnGoUp{
    height:60px;
    width:60px;
    position: fixed;
    z-index:50;
    right:13px;
    bottom:13px;
    background-color:var(--color-letra);
    background-image: url("../icons/go-up-icon.png");
    background-size:170%;
    background-position:center;
    border:none;
    display:none;
}